#
# SPDX-FileCopyrightText: Copyright 2025 Arm Limited and/or its affiliates <open-source-office@arm.com>
# SPDX-License-Identifier: Apache-2.0
#
Checks: >
    -*,
    modernize-deprecated-headers,
    modernize-make-unique,
    modernize-use-nullptr,
    modernize-use-override,
    modernize-use-using

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
